@{
    ViewBag.Title = "Product Listing";
}

<main>
    <h1>Product Data(Admin)</h1>
    <a href="@Url.Action("Index", "AddProduct")" class="btn btn-primary"><i class="fa fa-plus"></i> Add New Product</a>
    <h6>&nbsp;</h6>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
                <th scope="col">Age Group</th>
                <th scope="col">Status</th>
                <th scope="col"><i class="fas fa-pencil-alt"></i></th>
                <th scope="col"><i class="fas fa-trash-alt"></i></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (DemoCode.Models.Product obj in (List<DemoCode.Models.Product>)ViewData["products"])
                {
                    <tr>
                        <td>@obj.Id</td>
                        <td>@obj.Name</td>
                        <td>@obj.Desc</td>
                        <td>@obj.ImageSm</td>
                        <td>@obj.Price</td>
                        <td>@obj.AgeGroup</td>
                        <td>@obj.IsActive</td>
                        <td>
                        @Html.ActionLink("Edit", "Edit", "AddProduct",
                        new { id = obj.Id},
                        new { @class = "btn btn-primary btn-sm" })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", "Product",
                            new { id = obj.Id },
                            new { @class = "btn btn-primary btn-sm", onclick = "return confirm('Are you sure?');" })
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
    <br />
    <br />
    <br />


</main>